{% if bmi < 16 %}
	<h1>Your bmi is <strong>{{ bmi }}</strong>. You are Severely underweight</h1>

{% elif bmi < 18.5 %}
	<h1>Your bmi is <strong>{{ bmi }}</strong>. You are Severely underweight</h1>

{% elif bmi < 25 %}
	<h1>Your bmi is <strong>{{ bmi }}</strong>. You are Severely underweight</h1>

{% elif bmi < 30 %}
	<h1>Your bmi is <strong>{{ bmi }}</strong>. You are Severely underweight</h1>

{% else %}
	<h1>Your bmi is <strong>{{ bmi }}</strong>. You are Severely underweight</h1>

{% endif %}

